<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ding Dong Donor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0108A982012F10D003F1513</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0108AAC2012F10D003F1513</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0108AB72012F10E003F1513</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
